@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;


/* custom styles */

.display{
    animation-name: example;
    animation-duration: 3s;
}

@keyframes example {
    from{
        opacity: 0%;
    }to{
        opacity: 100%;
    }
}
